@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Dancing+Script:wght@700&family=Lumanosimo&family=Montserrat:wght@800&family=Mulish:wght@500&family=Noto+Sans:wght@500&family=Open+Sans:wght@500&family=Pacifico&family=Roboto+Condensed&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Montserrat:wght@800&family=Noto+Sans:wght@500&family=Open+Sans:wght@500&family=Roboto+Condensed&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Martel+Sans:wght@600&family=Montserrat:wght@700;800&family=Noto+Sans:wght@500&family=Open+Sans:wght@500&family=Roboto+Condensed&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Martel+Sans:wght@600&family=Montserrat:wght@700;800&family=Noto+Sans:wght@500&family=Nunito:wght@600&family=Open+Sans:wght@500&family=Poppins&family=Roboto+Condensed&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Sedan:ital@0;1&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
}

body {
  font-family: 'Roboto', sans-serif;
  top: 0px !important;
}


@media (max-width: 768px) {
  .navbar-nav {
    margin-left: -1rem;
    margin-right: -1rem;
  }

  .navbar-nav .nav-item {
    margin-bottom: 0.5rem;
  }
}

@media (min-width: 768px) {
  .nav-top {
    margin-left: 2rem;
  }
}

.dropdown-toggle::after {
  content: none;
}


.dropdown-menu-end::before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  position: absolute;
  bottom: 100%;
  left: 10px;
  z-index: 1001;
}

.navbar {
  /* background-image: url('/images/wave-haikei.svg'); */
  background-color: #0e3458 !important;
}

.navbar:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navbar-nav .nav-link:hover {
  color: white !important;
  /* font-weight: 500; */
}

/* html description padding */
.css-13xfq8m-MuiTabPanel-root{
  padding: 0 !important;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root{
  min-width: 55px !important;
}

/* text sizes width */
.MuiBox-root .css-mmst5v{ 
  width: 27rem;
}

/* text to speech button */
.tts{
  border: none;
  font-size: 1.4rem;
  background-color: transparent;
}

/* remove visibility of google */
iframe {
  display: none !important;
}

.follow{
  background-color: transparent;
}

.ghanti{
  color: grey;
}

.best-post-content > p{
  font-style: italic;
}

.MuiBox-root .css-19wx5ef{
  width: 26% !important;
}


.VIpgJd-ZVi9od-ORHb-OEVmcd .skiptranslate {
  display: none !important;
  position: absolute !important;
  top: -10rem !important;
}

#google_translate_element{
  display: flex;
  justify-content: right;
  margin-right: 4rem;
}

.css-19kzrtu{
  padding: 0 !important;
}



.bottom-sidebar button{
  background-color: transparent;
}

.navbar-nav a {
  font-family: "Lato", serif !important;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.945) !important;
  letter-spacing: 0.1rem;
  margin: 0 0.2rem;
}


.active-link {
  color: white !important;
}

.navbar-brand {
  font-family: 'Dancing Script', cursive;
  font-size: 2.4rem;
  color: #007bff !important;
}

.navbar-brand:hover {
  color: #007bff !important;
}

.navbar-nav .nav-item .nav-link {
  transition: all 0.7s ease;
}

.navbar-nav .nav-item {
  transition: all 0.3s ease;
}

.navbar-nav .nav-item.active .nav-link {
  color: black;
}

.navbar-nav .nav-item:active {
  color: black;
}

.search-container {
  position: relative;
  --size-button: 40px;
}

.input1 {
  padding-left: var(--size-button);
  height: var(--size-button);
  font-size: 15px;
  border: none;
  color: #fff;
  outline: none;
  width: var(--size-button);
  transition: all ease 0.3s;
  background-color: #007bff;
  box-shadow: 1.5px 1.5px 3px #0e0e0e, -1.5px -1.5px 3px rgb(95 94 94 / 25%), inset 0px 0px 0px #0e0e0e, inset 0px -0px 0px #5f5e5e;
  border-radius: 50px;
  color: white!important;  
  cursor: pointer;
}

.input1:focus,
.input1:not(:placeholder-shown) {
  width: 200px;
  cursor: text;
}

.input1::placeholder {
  color: rgba(255, 255, 255, 0.849);
}

.input1:not(:placeholder-shown)+.icon {
  pointer-events: all;
  cursor: pointer;
}

.search-container .icon {
  position: absolute;
  width: var(--size-button);
  height: var(--size-button);
  top: 0;
  left: 0;
  padding: 8px;
  pointer-events: none;
}

.search-container .icon svg {
  width: 100%;
  height: 100%;
}

.input1:hover::before {
  content: attr(title);
  position: absolute;
  z-index: 1;
  padding: 4px 8px;
  border-radius: 4px;
  bottom: -30px;
  /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: white !important;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0.2s;
}

.input1:hover::before {
  opacity: 1;
  visibility: visible;
}

.dropdown-menu .dropdown-item:active {
  color: black;
  /* font-weight: bold; */
}

.dropdown-menu {
  background-color: white;
  border-radius: 1.1rem !important;
  padding: 0;
  overflow: hidden;
  right: 0;
  left: auto;
  min-width: 10rem;
}

.dropdown-item {
  color: rgb(34, 34, 34);
  font-size: 1rem;
}

.dropdown-item:hover {
  background-color: rgba(128, 128, 128, 0.445);
}


.login-bg,
.register-bg {
  background-image: url('/images/wave-haikei.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  min-height: calc(100vh - 4rem);
}

html {
  position: relative;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  /* flex-wrap: wrap; */
  background-color: #0e3458;
  gap: 1rem;
}


.best-posts {
  background-image: url('/images/stacked-waves-haikei.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  width: 100%;
}

.home {
  background-color: black;
}

.home-cards {
  flex-wrap: wrap !important;
}

.card {
  background-color: #222222;
  height: 466.391px !important;
  width: 31.5%;
  /* border-color: -webkit-linear-gradient(to right, #f12711, #f5af19); */
  /* border-color: 2px solid linear-gradient(to right, #f12711, #f5af19); */
}
.card:hover{
  scale: 1.03;
  transition: scale ease-in-out 0.3s;
  box-shadow: 0px 0px 45px #6198ff;
}
.card-subheading {
  font-family: 'Lato', sans-serif;
}

.card img {
  height: 12rem;
}

.card-description {
  color: #a8acaf;
}

.right {
  font-family: 'Roboto', sans-serif;
}


.posts-page {
  width: 100%;
}

.left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 2rem;
  margin: auto !important;
}

.sidebar i {
  font-size: 1.5rem;
  cursor: pointer;
}

.right-sidebar i {
  font-size: 1.5rem;
  cursor: pointer;
}

.right-sidebar {
  width: 30% !important;
  /* float: right; */
  margin: 0 !important;
  border: 1px solid #ccc;
  padding: 20px;

}

.right-sidebar ul {
  list-style: none;
  padding: 0;
}

.right-sidebar li {
  margin-bottom: 10px;
  cursor: pointer;
}


.best-post-container {
  width: 80%;
}

.right {
  font-family: 'Noto Sans', sans-serif;
}

.right p {
  font-size: 1.3rem;
}

.liked {
  color: red !important;
}

.content-container {
  width: 60%;
  margin: 0 auto;
  /* margin-left: 2rem; */
}

.ql-size-huge {
  font-size: 2.2rem;
  font-weight: bold;
  margin: 1rem 0;
  /* color: black */
}

.ql-size-large {
  font-size: 1.6rem;
  font-weight: bold;
  margin: 1rem 0;
  /* color: black; */
}

.ql-size-normal {
  font-size: 1.1rem;
  line-height: 1.5;
  margin: 0.5rem 0;
  /* color: black */
}

.ql-container {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  /* font-size: 13px; */
  font-size: 12px;
  height: 100%;
  margin: 0px;
  position: relative;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value=small]::before {
  font-size: 13px;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value=large]::before {
  /* font-size: 18px; */
  font-size: 24px;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value=huge]::before {
  /* font-size: 32px; */
  font-size: 40px;
}

.post-content>h1 {
  font-weight: bold;
}

.tags {
  color: #fff !important;
  cursor: pointer;
  padding: 0.6rem !important;
}

.post-content a {
  margin: 0.3rem 0.3rem !important;
}

.post-content h1 {
  font-family: 'Noto Sans', sans-serif;
  /* font-weight: 900; */
  font-weight: bold !important;
  padding-left: 1rem;
  margin-top: 1rem;
}

.post-content h2 {
  margin-top: 1.62em;
  /* font-size: 17px; */
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  /* width: 100%; */
  word-wrap: break-word;
  text-align: -webkit-match-parent;
  padding-left: 1rem;
}

.post-content h3 {
  margin-top: 1rem;
  margin-left: 0.4rem;
}

.post-content .tags {
  background-color: #0e3458;
  color: white;
  padding: 2px 8px;
  margin-right: 8px;
  border-radius: 3px;
}

.post-content p,
.post-content li {
  font-family: 'poppins', sans-serif;
  color: rgb(68, 65, 65);
  margin-bottom: 15px;
  margin-top: 0.86em;
  letter-spacing: -0.003em;
  font-size: 17px;
  margin-bottom: -0.46em;
  word-break: break-word;
  margin-top: 1em;
  padding-left: 0px;
  margin-left: 18px;
  list-style-type: disc;
  margin-bottom: -0.46em;
}

.post-content p {
  font-size: 18px !important;
  color: rgb(68, 65, 65);
}

.post-content a {
  color: #0e3458;
  text-decoration: none;
  border-bottom: 2px solid #0e3458;
  margin: 0.7rem;
  transition: border-bottom 0.2s ease-in-out;
  -webkit-tap-highlight-color: transparent;
  font-size: 1rem;
}

.highlight {
  background-color: black;
  color: white;
  padding: 0 0.5rem;
  margin: 1rem 1rem;
  overflow: auto;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none;  /* For Internet Explorer and Edge */
}

.highlight::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.post-content a:hover {
  border-bottom: 2px solid transparent;
  color: #222222;
}

.post-content ul,
.post-content ol {
  margin-left: 20px;
}

.post-content {
  padding: 0.8rem;
  max-width: 792px;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.blog-bg {
  background-image: url('/images/blurry-gradient-haikei.svg') !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  width: 100%;
  height: 20rem;
  /* position: relative; */
}

.blog-specific {
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.blog-heading {
  font-size: 3rem;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.733);
  margin-bottom: 3rem;
  position: absolute;
  transform: translateX(-50%);
}

.blog-page::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  z-index: -1;
  background-color: black;
  width: 100%;
  height: 100%;
}

.post-description-page {
  overflow: hidden;
  /* margin-left: 4rem; */
  font-family: 'poppins', sans-serif;
}

.blog-post-description img {
  width: 50%;
  height: 40%;
  margin: 0.3rem auto;
  writing-mode: horizontal-tb;
}

.description-container {
  width: 100% !important;
  margin: auto;
}

/* comment */
.comment .comment-card {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.comment .title {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.comment .form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.comment .group {
  position: relative;
}

.comment .form .group label {
  font-size: 14px;
  color: rgb(99, 102, 102);
  position: absolute;
  top: -10px;
  left: 10px;
  background-color: #fff;
  transition: all .3s ease;
}

.comment .form .group input,
.comment .form .group textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  outline: 0;
  width: 100%;
  background-color: transparent;
}

.comment .form .group input:placeholder-shown+label,
.form .group textarea:placeholder-shown+label {
  top: 10px;
  background-color: transparent;
}

.comment .form .group input:focus,
.comment .form .group textarea:focus {
  border-color: #3366cc;
}

.comment .form .group input:focus+label,
.form .group textarea:focus+label {
  top: -10px;
  left: 10px;
  background-color: #fff;
  color: #3366cc;
  font-weight: 600;
  font-size: 14px;
}

.comment .form .group textarea {
  resize: none;
  height: 100px;
}

.comment .form button {
  background-color: #3366cc;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.comment .form button:hover {
  background-color: #27408b;
}

.comment-bottom {
  font-size: 0.8rem;
}

.comment-bar {
  width: 80%;
  margin: auto;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.p-8 {
  padding: 2rem;
}

.rounded-2xl {
  border-radius: 1rem;
}

.bg-white {
  background-color: #ffffff;
}

.gap-4>*+* {
  margin-left: 1rem;
}

.w-12 {
  width: 3rem;
}

.h-12 {
  height: 3rem;
}

.cursor-pointer {
  cursor: pointer;
}

.text-gray-600 {
  color: #718096;
}

.hover\:text-gray-900:hover {
  color: #1a202c;
}

.scroll-down-icon {
  transition: transform 0.3s;
}

.scroll-down-icon.clicked {
  transform: translateY(2rem);
}

.related-posts {
  width: 90%;
  height: auto;
  position: relative !important;
  margin-bottom: 1rem;
}

.related-posts-heading {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

.prev-button {
  position: absolute;
  top: 19%;
  left: 0;
  rotate: -90deg;
  z-index: 1;
}

.next-button {
  position: absolute;
  top: 95%;
  right: 1rem;
  rotate: -90deg;
  z-index: 1;
}


.bottom-pagination {
  z-index: 122;
}

.pagination {
  display: flex;
  justify-content: center;
}

.navbar-toggler {
  background-color: #007bffe7;
  border: none !important;
  color: white !important;
  padding: 0.1rem 0.4rem;
  border-radius: 1.7rem;
}

.text-editor {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.toolbar {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.toolbar button {
  padding: 5px 10px;
  border: none;
  background-color: #1a202c;
  color: white;
  cursor: pointer;
}

.editor textarea {
  width: 50vw;
  padding: 16px 20px 20px 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
  font-size: 1.1rem;
  flex-grow: 1;
  margin-bottom: 1rem;
}

.preview {
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-family: 'Noto Sans', sans-serif;
}

.preview p {
  /* font-weight: bold; */
  margin-bottom: 10px;
  color: black;
}

.post-title-input {
  width: 40vw;
  height: 3.5rem;
  font-size: 1.7rem;
  padding: 0 1rem;
  font-family: 'Noto Sans', sans-serif;
  border: none;
}

.post-description-input {
  width: 60vw;
  height: 3.0rem;
  font-size: 1.3rem;
  padding: 0 1rem;
  font-family: 'Noto Sans', sans-serif;
  border: none;
}


.post-container h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}

.post-container input:focus,
.post-container input:valid {
  outline: 0;
  /* border-bottom-color: lightblue; */
}

.post-container {
  width: 90vw;
  margin: auto;
}


.input-text {
  /* border: 2px solid black; */
  height: 2rem;
  margin-top: 1.3rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
}

.cloudinary-image {
  max-width: 100%;
  height: auto;
}

.tags-input {
  width: 30vw;
}

.post-tag {
  background-color: #0e3458;
  color: white;
  padding: 6px 10px;
  margin-right: 8px;
  border-radius: 3px;
}

.speed-dial {
  position: fixed !important;
  bottom: 1rem !important;
  right: 1rem !important;
}

.ri-heart-fill {
  color: rgba(255, 0, 0, 0.774) !important;
}

.ri-heart-add-fill {
  color: rgba(255, 0, 0, 0.774) !important;
}

.reviews-container {
  margin: auto !important;
  width: 90%;
  margin-bottom: 3rem !important;
  padding-top: 0rem;
}

.comment {
  width: 100%;
}


.post-tags {
  margin-bottom: 2rem !important;
  margin-left: 0.6rem;
}

.create-post-page {
  background-color: #0e0e0e;
  color: white;
  overflow: hidden;
}

.create-post-page input {
  background-color: rgba(255, 255, 255, 0.925);
  border-radius: 1.5rem;
}


.banner-image {
  max-width: 720px;
}

.author h3 {
  font-weight: 600 !important;
  line-height: 1.2rem;
}

.read-mins {
  font-size: 0.9rem;
  line-height: 1.5rem;
}

.follow {
  font-size: 0.7rem;
  border: none !important;
  color: #0E3458;
  font-weight: 500;
}

:not(pre)>code[class*="language-"],
pre[class*="language-"] {
  margin-left: 1rem;
}

.preview img {
  width: 90%;
}



@media (max-width: 1068px) {
  body {
    margin-bottom: 3rem;
  }
  #google_translate_element{
    display: none !important;
  }
  

  .MuiTabs-root .css-1ujnqem-MuiTabs-root{
    overflow: auto;
  }

  .MuiBox-root .css-19wx5ef{
    width: 58% !important;
    margin-left: auto;
    margin-top: 2rem !important;
  }

  .slider {
    display: flex !important;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
  }

  .slider-button {
    display: none !important;
  }

  .navbar-brand {
    margin-top: 1rem;
    margin-bottom: 0.7rem;
  }

  .dropdown-menu {
    /* left: 1rem; */
    min-width: 10rem;
    z-index: +1;
    min-width: 12rem;
  }

  .best-post-content h1 {
    font-size: 1.9rem;
    /* font-weight: 600; */
  }

  .card {
    background-color: #222222;
    height: 545px !important;
    width: 45%;
  }

  .nav-top-links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .post-tags {
    display: flex !important;
    flex-wrap: wrap !important;
    margin-left: 0.6rem;
  }

  .sidebar {
    left: 1.5%;
  }

  .tags-input {
    width: 80vw;
  }

  .post-title-input {
    width: 90%;
  }

  .posted-img {
    width: 80vw !important;
  }

  .cover-image-input {
    display: block !important;
  }

  /* .search-container{
    display: none !important;
  }  */
  .ghanti {
    display: none;
  }

  .footer {
    flex-wrap: wrap;
  }

  .sidebar {
    display: none;
  }

  .description-container {
    width: 100% !important;
  }

  .post-content h1 {
    font-size: 1.2rem;
    letter-spacing: -0.014em;
    line-height: 38px;
    margin-bottom: 24px;
    font-size: 32px;
    margin-top: 1.01em;
    font-weight: 700;
    font-style: normal;
    color: #242424;
    margin-left: 0;
  }

  .post-content h3 {
    font-size: 1.3rem;
  }

  .content-container {
    width: 98%;
  }

  .like-share-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(245, 245, 245, 0.945);
  }

  .bottom-sidebar {
    display: flex;
    background-color: rgba(245, 245, 245, 0.445) !important;
    justify-content: space-evenly;
    height: 4rem;
  }

  .bottom-sidebar-share {
    border: none;
  }

  .icon i {
    font-size: 1.2rem;
  }

  .post-content p {
    font-size: 18px !important;
  }

  .post-content li {
    font-size: 17px !important;
  }

  .post-container h1 {
    font-size: 1.9rem !important;
  }

  .reviews-container {
    margin: 0 auto !important;
    width: 91%;
  }

  .comment .comment-card {
    width: 75%;
  }

  .collapse.show .right-header {
    display: none !important;
  }

  .right-sidebar {
    display: none;
  }

  .posts-description-container {
    flex-wrap: wrap !important;
  }

  .banner-image {
    max-width: 85vw;
  }

  .post-content {
    max-width: 100vw;
  }

  .post-content .tags {
    font-size: 0.8rem;
  }

  .speed-dial {
    position: fixed !important;
    bottom: 3rem !important;
    right: 1rem !important;
  }
}

@media (max-width: 580px) {
  body {
    margin-bottom: 5rem;
  }

  .ls{
    flex-direction: column;
    align-items:flex-start !important;
    width: 100% !important;
  }

  .footer {
    height: 6rem !important;
  }

  .footer span {
    position: static !important;
  }

  .card {
    background-color: #222222;
    height: 515px !important;
    width: 100%;
  }

  .blog-list-2 {
    width: 100% !important;
  }

  h2 {
    font-size: 1.8rem;
  }

  p {
    font-size: 1rem !important;
  }

  .comment .comment-card {
    width: 98%;
  }

  .sidebar {
    left: 2%;
  }

  .login-signup {
    margin: 0 !important;
  }

  .right-header {
    margin-left: auto !important;
    padding: 1rem 0;
  }

  .post-content h2 {
    /* letter-spacing: -1px; */
    /* line-height: 20px; */
    margin-top: 1.23em;
    font-size: 32px;
    /* margin-bottom: -0.31em; */
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
  }

  .post-content h1 {
    letter-spacing: -1px;
    margin-left: 0;
  }

  /* .input1:focus,
  .input1:not(:placeholder-shown) {
    width: 150px;
    margin-top: 1rem;
  } */
  /* .search-container {
    margin-right: 1rem;
  } */
}

@media (max-width: 380px) {
  .signup {
    display: none;
  }
}

@media screen and (min-width: 300px) and (max-width: 460px) {
  .search-container {
    margin-right: 0.1rem !important;
  }

  .input1:focus,
  .input1:not(:placeholder-shown) {
    width: 180px;
  }
}

@media screen and (min-width: 580px) and (max-width: 768px) {
  body {
    margin-bottom: 3.5rem;
  }
}

@media (max-width: 768px) {
  .navbar-nav .nav-link {
    padding: 0.5rem 1rem;
  }

  .navbar-nav .nav-link {
    font-size: 14px;
  }

  .dropdown-menu {
    right: -5rem;
    /* left: 1rem; */
    min-width: 10rem;
    z-index: +1;
    min-width: 12rem;
  }

  .navbar-brand {
    margin-bottom: 0rem;
  }

  .nav-top {
    margin-left: 2rem;
  }

  .right {
    margin-top: 2rem;
  }
}

.scanner {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scanner span {
  color: transparent;
  font-size: 1.4rem;
  position: relative;
  overflow: hidden;
}

.scanner span::before {
  content: "Loading...";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-right: 4px solid #007bff;
  overflow: hidden;
  color: #007bff;
  animation: load91371 2s linear infinite;
}

@keyframes load91371 {

  0%,
  10%,
  100% {
    width: 0;
  }

  10%,
  20%,
  30%,
  40%,
  50%,
  60%,
  70%,
  80%,
  90%,
  100% {
    border-right-color: transparent;
  }

  11%,
  21%,
  31%,
  41%,
  51%,
  61%,
  71%,
  81%,
  91% {
    border-right-color: #007bff;
  }

  60%,
  80% {
    width: 100%;
  }
}

.spinnerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 0.8rem; */
  background-color: white !important;
  margin-top: 3rem;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.spinner {
  width: 56px;
  height: 56px;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-right-color: #299fff;
  animation: tri-spinner 1s infinite linear;
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: tri-spinner 2s infinite;
}

.spinner::after {
  margin: 8px;
  animation-duration: 3s;
}

@keyframes tri-spinner {
  100% {
    transform: rotate(1turn);
  }
}

.pass{
  position: relative;
}

.eye-register{
  position: absolute;
  right: 30px;
  top: 8px;
  color: black;
  cursor: pointer;
  font-size: 1.5rem;
  cursor: pointer;
}

.eye-register-repeat{
  position: absolute;
  right: 30px;
  top: 8px;
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
}
.eye-register1{
  position: absolute;
  right: 30px;
  top: 8px;
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
}
.eye-register-repeat1{
  position: absolute;
  right: 30px;
  top: 8px;
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
}
.eye {
  position: absolute;
  top: 20px;
  right: 30px;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 2;
  color: black;
  font-size: 1.5rem;
}


.loader {
  color: #4a4a4a;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 25px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white !important;
  z-index: 100000;
  height: 100%;
  width: 100%;
  position: absolute;
  justify-content: center;
}
.loader1 {
  color: #4a4a4a;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 25px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white !important;
  z-index: 100000;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.words {
  overflow: hidden;
}

.word {
  display: block;
  height: 100%;
  padding-left: 6px;
  color: #299fff;
  animation: cycle-words 5s infinite;
}

@keyframes cycle-words {
  10% {
    -webkit-transform: translateY(-105%);
    transform: translateY(-105%);
  }

  25% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  35% {
    -webkit-transform: translateY(-205%);
    transform: translateY(-205%);
  }

  50% {
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
  }

  60% {
    -webkit-transform: translateY(-305%);
    transform: translateY(-305%);
  }

  75% {
    -webkit-transform: translateY(-300%);
    transform: translateY(-300%);
  }

  85% {
    -webkit-transform: translateY(-405%);
    transform: translateY(-405%);
  }

  100% {
    -webkit-transform: translateY(-400%);
    transform: translateY(-400%);
  }
}
